@import "public/styles/variables/color_variables";
@import "public/styles/variables/font_variables";

.header {
  width: 100%;
  background-color: $head-bg-color;
  padding: .4rem;
  overflow: hidden;
  height: 3.2rem;
  border-bottom: 1px solid $head-border-color;

  :global {
    .ant-menu {
      line-height: 2.6rem;
    }

    .ant-menu-item {
      font-size: .7rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.headerLogo {
  color: $head-logo-color;
  font-size: $head-logo-font-size;
  text-align: left;
}

.headerTxt {
  font-size: $head-txt-font-size;
  color: $head-txt-color;
  display: inline-block;
  padding-left: .3rem;
}


