// 公用样式类
.common-box {
  background-color: #fff;
  margin-left: .5rem;
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;
}

.bread-container {
  padding: .5rem;
  border-bottom: 1px solid #eee;
  background-color: #e1f0ff;
}

.center {
  text-align: center;
}

code {
  display: block;
  background-color: #f3f3f3;
  padding: .5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: .3rem;
}

.list-icon {
  & > span {
    padding: 0 .5rem;
  }
}

.markdown-navigation {
  div.title-anchor {
    color: #888;
    padding: 4px;
    margin: 0rem;
    height: auto;
    line-height: 1.2rem;
    font-size: .9rem;
    border-bottom: 1px dashed #eee;
  }
}
